# Dont forget to use the following command to load the environment variables:
    # from dotenv import load_dotenv
    # load_dotenv()

# Passwords:
    # App Credentials
        APP_USER_NAME='your username'
        APP_TOKEN='your token'
        APP_BASE_URL='your base url'
